* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: sans-serif;
  box-sizing: border-box;
}

$white: #fff;
$black: #4B4B4B;
$yellow: #EACA85;

$mont-font: 'Montserrat', sans-serif;
$source-font: 'Source Sans Pro', sans-serif;


body {
  /*background: $white;*/
}

#landing {
  background-image: url("Assets/landing-background.png");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 780px;

}

#landing-main {
  margin: 4vh 0 0 0;
  height: 89vh;
  // overflow: auto;
  /*white-space: nowrap;*/
}

#inner-landing {
  margin: auto 10%;
  height: 100vh;
}

nav {
  padding: 3vh 0;
  height: 10vh;
}

#navigate {
  display: inline-block;
  float: right;
}

#navigate ul {
  display: inline-block;
}

#navigate ul:first-child {
  margin: 0 6vw;
}

#navigate ul:first-child li {
  margin: 0 1vw 0 0;
}

#navigate ul:last-child li {
  margin: 0 1.5vw 0 0;
}

#navigate li {
  color: #FFF;
  display: inline-block;
}

#landing-script {
    color: white;
    display: inline-block; 
    width: 40%;
    float: left;
    margin: auto 9%;
}

h1 {
  color: #F0D896; /*app-yellow*/
  margin: 18vh 0 6vh 0;
  font-size: 61px;
}

h2 {
  font-size: 18px;
  margin: 0 0 4vh 0;
}

#landing-script p:last-child {
  font-size: 14px;
  margin: 0 0 10vh 0;
}

#hero-phone {
  max-width: 90%;
  height: 81%;
  position: relative;
  top: 94px;
}

#app-buttons-wrapper {
  margin: 8vh 0 0 0;
}

#inner-results {
  margin: 8vh 0 0 0;
}

#results {
      /*height: 66vh;*/
  ul {
    text-align: center;
    margin: 1.5em 0;
  }
}

#results ul li {
  display: inline-block;
}

h3 {
  text-align: center;
  /*border: 1px solid red;*/
  font-size: 2em;
  margin: 1em 0;
}

.sub-heading {
  text-align: center;
  width: 46%;
  margin: auto;
}

.results-col-3 {
  width: 20%;
  margin: 0 3%;
  .results-col-title {
    margin: 1em 0;
  }
  ul {
    min-width: 254px;
  }
}

.data-circles {
  width: 100%;
  height: auto; 
  /*border: 1px solid red;*/

}

/***********WHAT CLIENTS SAY***********/

#clients-say {
  background-image: url("Assets/client-background.png");
  background-repeat: no-repeat;
  background-size: 100vw 70vh;
  height: 70vh;
  #inner-clients-say {
    width: 140vh;
    margin: auto;
    padding: 2vh 0;
  }
  .client-text {
    width: 46vw;
    margin: auto;
    // display: inline-block;
    div {
      margin: 1em 0;
    }
  }
  ul {
    display: inline;
  }
}

.yellow-quote {
  display: block;
  margin: 0px auto;
}

.client-quote {
  text-align: center;
  margin: 1em 0;
  .client-button {
    border-radius: 100%;
    background: none;
    border: none;
    max-width: 12em;
    position: relative;
    bottom: 13em;
  }
  li {
    display: inline-block;
    width: 46vw;
    margin: 0 6vw;
    font-size: .9em;
    line-height: 2;
  }
  li:nth-child(2) {
  }
}

.arrows {
  // vertical-align: top;
  // padding: 1em 0 0 0;
  display: inline-block;
}

#clients-carousel {
  display: inline-block;
}

.text-white {
  color: $white;
}

.text-yellow {
  color: $yellow;
}

.client-info {
  text-align: center;
  img {
    display: inline-block;
  }
  ul {
    display: inline-block;
    margin: 1em;
    vertical-align: top;
  }
  li {
    // display: inline-block;
  }
  p {
    // display: inline-block;
  }
  div {
    display: inline-block;
  }
}

.products-col-4 {
  width: 20%;
  // margin: 0 3%;
  display: inline-block;
  .results-col-title {
    margin: 1em 0;
  }
  ul {
    min-width: 254px;
  }
  .product-circles {
    width: 80%;
    height: auto;
    vertical-align: top;
  }
  .product-circles:hover {
    width: 75%;
    // vertical-align: top;
    box-shadow: 0px 1px 16px 2px rgba(0,0,0,0.53);
    border-radius: 100%;
  }
  li:nth-child(4) {
    min-height: 2em;
  }
}

#recent-products {
  padding: 8vh 0;
  ul {
    text-align: center;
  }
}

button {
  background: #FFF;
  border-radius: 2em;
  color: #000;
  /* font-size: 15px; */
  padding: .6em 3em;
  border: 2px solid $black;
}

button:hover {
  background: $yellow;
  border: 2px solid $yellow;
  }

/////////// WHAT PEOPLE SAY ///////////

#start-selling {
  height: 50vh;
  background: $yellow;
  padding: 2em;
  h3 {
    margin: .5em 0;
  }
  input {
    display: block;
    margin: 3em auto;
    box-shadow: 0px 8px 17px 0px rgba(0, 0, 0, 0.48);
    height: 3em;
    width: 19em;
    border: none;
    border-radius: 0.25em;
  }
  button {
    display: block;
    margin: auto;
    background: $black;
    color: white;
  }
}

.hidden {
  display: none;
}

#people-say {
  height: 70vh;
  #inner-people-say {
    height: 100%;
    width: 80vw;
    margin: auto;
  }
  .carousel-wrapper-two {
    height: 23em;
    margin: 0 auto;
    position: relative;
  }
  .people-say-item {
    display: inline-block;
    width: 38vw;
    height: 32vh;
    position: relative;
  }
  .people-1 {
    background: $yellow;
    margin: 0em 1em;

  }
  .people-2 {
    background: #4B4B4B;
    position: absolute;
    top: 4em;
    left: 29em;
  }
  .carousel-radio {
    display: inline;
    margin: 0 46%;
    span {
      display: inline-block;
      margin: 0em .4em 0em 0em;

      }
      input[type='radio'] {
        display: none;
      }
      input[type='radio'] + label{
        // display: inline-block;
        cursor: pointer;
        padding: 0px 8px;
        border: 2px solid #4B4B4B;
        background: #fff;
        color: #fff;
        border-radius: 100%;
      }
      input[type='radio']:checked + label{
        background: #4B4B4B;
        border: 2px solid #4B4B4B;
        color: white;
      }  
    }
}

.carousel-wrapper-two {
  .center-quote {
    margin: 2em 47%;
    display: inline;
  }
  .person-img {
    width: 22%;
    position: absolute;
    top: 11em;
    left: 18em;
  }
}

// GET IN TOUCH //////////

#get-in-touch {
  background-image: url('assets/contact-background.png');
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  height: 70vh;
  h3 {
    color: white;
  }
  form {
    background: #666;
    width: 15em;
    margin: auto;
    height: 16em;
    padding: 1em 0em;
    input {
      height: 3em;
    }
    textarea {
      height: 7em;
    }
    input, textarea {
      display: block;
      width: 12em;
      margin: 1em auto;
    }
    button {
      margin: auto;
      display: block;
    }
    .inline {
      display: inline;
      width: 1em;
    }
  }
}







